name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Build Docker images
        run: |
          docker build -t  avah326/auth-service ./auth
          docker build -t  avah326/order-service ./order
          docker build -t  avah326/payment-service ./payment
          docker build -t  avah326/registr-service ./registr
          docker build -t  avah326/api-gateway ./api-gateway

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker images
        run: |
          docker push your-dockerhub-user/auth-service
          docker push your-dockerhub-user/order-service
          docker push your-dockerhub-user/payment-service
          docker push your-dockerhub-user/registr-service
          docker push your-dockerhub-user/api-gateway

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: SSH to server and deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/library-app-backend
            git pull origin main
            docker compose pull
            docker compose up -d --remove-orphans
