name: CI/CD Pipeline (No DockerHub)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up JDK 17 
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package -DskipTests

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            if [ ! -d "~/library-app-backend/.git" ]; then
              git clone https://github.com/RahimovShaxriyor/library-app-backend.git ~/library-app-backend
            else
              cd ~/library-app-backend
              git pull origin main
            fi
          
            cd ~/library-app-backend
            sudo docker compose build
            sudo docker compose up -d --remove-orphans


